.printPageContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.printAreaContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.printArea {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 30px;
  width: 210mm;
}

.printHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.printButton {
  margin: 5px;
}

.printControls {
  display: flex;
  flex-direction: column;
}

.categoryOptionsContainer {
  display: flex;
  flex-direction: row;
}
.categoryCheckbox {
  width: 200px;
  flex-shrink: 0;
}
.categoryInput {
  margin: 2px;
  max-width: 300px;
  min-width: 80px;
  flex-shrink: 1;
}

.table {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  text-align: center;
}

.tableMarkerCell {
  overflow: hidden;
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 20px;
}

.category {
}

.printColorAdjust {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.pageGroup {
  page-break-inside: avoid;
  break-inside: avoid-page;
}

/* Printing + export styles */
@media print {
  .printArea {
    border: none;
    width: 100%;
  }
  .printButton {
    display: none !important;
  }
}
